## LAB Tasks


Runthe 2nd iteration of the model, adding the categorial data

In [14]:
import pandas as pd

url="/Users/miriamg/Documents/GitHub_repo/Week 4 Machine learning/Last_marketing_customer_analysis_clean.csv"
df = pd.read_csv(url)
df#.info()

,unnamed:_0,customer,state,customer_lifetime_value,response,coverage,education,effective_to_date,employmentstatus,gender,...,number_of_policies,policy_type,policy,renew_offer_type,sales_channel,total_claim_amount,vehicle_class,vehicle_size,vehicle_type,month
0,0,DK49336,Arizona,4809.216960,No,Basic,College,2011-02-18,Employed,M,...,9,Corporate Auto,Corporate L3,Offer3,Agent,292.800000,Four-Door Car,Medsize,A,2
1,1,KX64629,California,2228.525238,No,Basic,College,2011-01-18,Unemployed,F,...,1,Personal Auto,Personal L3,Offer4,Call Center,744.924331,Four-Door Car,Medsize,A,1
2,2,LZ68649,Washington,14947.917300,No,Basic,Bachelor,2011-02-10,Employed,M,...,2,Personal Auto,Personal L3,Offer3,Call Center,480.000000,SUV,Medsize,A,2
3,3,XL78013,Oregon,22332.439460,Yes,Extended,College,2011-01-11,Employed,M,...,2,Corporate Auto,Corporate L3,Offer2,Branch,484.013411,Four-Door Car,Medsize,A,1
4,4,QA50777,Oregon,9025.067525,No,Premium,Bachelor,2011-01-17,Medical Leave,F,...,7,Personal Auto,Personal L2,Offer1,Branch,707.925645,Four-Door Car,Medsize,A,1
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
10905,10905,FE99816,Nevada,15563.369440,No,Premium,Bachelor,2011-01-19,Unemployed,F,...,7,Personal Auto,Personal L1,Offer3,Web,1214.400000,Luxury Car,Medsize,A,1
10906,10906,KX53892,Oregon,5259.444853,No,Basic,College,2011-01-06,Employed,F,...,6,Personal Auto,Personal L3,Offer2,Branch,273.018929,Four-Door Car,Medsize,A,1
10907,10907,TL39050,Arizona,23893.304100,No,Extended,Bachelor,2011-02-06,Employed,F,...,2,Corporate Auto,Corporate L3,Offer1,Web,381.306996,Luxury SUV,Medsize,A,2
10908,10908,WA60547,California,11971.977650,No,Premium,College,2011-02-13,Employed,F,...,6,Personal Auto,Personal L1,Offer1,Branch,618.288849,SUV,Medsize,A,2
10909,10909,IV32877,California,6857.519928,No,Basic,Bachelor,2011-01-08,Unemployed,M,...,3,Personal Auto,Personal L1,Offer4,Web,1021.719397,SUV,Medsize,A,1

In [15]:
df.columns

Index(['unnamed:_0', 'customer', 'state', 'customer_lifetime_value',
       'response', 'coverage', 'education', 'effective_to_date',
       'employmentstatus', 'gender', 'income', 'location_code',
       'marital_status', 'monthly_premium_auto', 'months_since_last_claim',
       'months_since_policy_inception', 'number_of_open_complaints',
       'number_of_policies', 'policy_type', 'policy', 'renew_offer_type',
       'sales_channel', 'total_claim_amount', 'vehicle_class', 'vehicle_size',
       'vehicle_type', 'month'],
      dtype='object')

In [16]:
categoric_df = df.select_dtypes(include = 'object')

In [17]:
numeric_df = df.select_dtypes(include ='number')
numeric_df

,unnamed:_0,customer_lifetime_value,income,monthly_premium_auto,months_since_last_claim,months_since_policy_inception,number_of_open_complaints,number_of_policies,total_claim_amount,month
0,0,4809.216960,48029,61,7.000000,52,0.000000,9,292.800000,2
1,1,2228.525238,0,64,3.000000,26,0.000000,1,744.924331,1
2,2,14947.917300,22139,100,34.000000,31,0.000000,2,480.000000,2
3,3,22332.439460,49078,97,10.000000,3,0.000000,2,484.013411,1
4,4,9025.067525,23675,117,15.149071,31,0.384256,7,707.925645,1
...,...,...,...,...,...,...,...,...,...,...
10905,10905,15563.369440,0,253,15.149071,40,0.384256,7,1214.400000,1
10906,10906,5259.444853,61146,65,7.000000,68,0.000000,6,273.018929,1
10907,10907,23893.304100,39837,201,11.000000,63,0.000000,2,381.306996,2
10908,10908,11971.977650,64195,158,0.000000,27,4.000000,6,618.288849,2
10909,10909,6857.519928,0,101,31.000000,1,0.000000,3,1021.719397,1

In [18]:
#Define which variable could be the one with large range, in this case income so is my vA

column_ranges = numeric_df.describe().loc[['min', 'max']]

print(column_ranges)

     unnamed:_0  customer_lifetime_value   income  monthly_premium_auto  \
min         0.0              1898.007675      0.0                  61.0
max     10909.0             83325.381190  99981.0                 298.0

     months_since_last_claim  months_since_policy_inception  \
min                      0.0                            0.0
max                     35.0                           99.0

     number_of_open_complaints  number_of_policies  total_claim_amount  month
min                        0.0                 1.0            0.099007    1.0
max                        5.0                 9.0         2893.239678    2.0

In [19]:
categoric_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 10910 entries, 0 to 10909
Data columns (total 17 columns):
 #   Column             Non-Null Count  Dtype
---  ------             --------------  -----
 0   customer           10910 non-null  object
 1   state              10910 non-null  object
 2   response           10910 non-null  object
 3   coverage           10910 non-null  object
 4   education          10910 non-null  object
 5   effective_to_date  10910 non-null  object
 6   employmentstatus   10910 non-null  object
 7   gender             10910 non-null  object
 8   location_code      10910 non-null  object
 9   marital_status     10910 non-null  object
 10  policy_type        10910 non-null  object
 11  policy             10910 non-null  object
 12  renew_offer_type   10910 non-null  object
 13  sales_channel      10910 non-null  object
 14  vehicle_class      10910 non-null  object
 15  vehicle_size       10910 non-null  object
 16  vehicle_type       10910 non-null  object
dtypes: object(17)
memory usage: 1.4+ MB

In [20]:
categoric_df.coverage.unique()

array(['Basic', 'Extended', 'Premium'], dtype=object)

In [21]:
categoric_df.education.unique()

array(['College', 'Bachelor', 'High School or Below', 'Doctor', 'Master'],
      dtype=object)

In [22]:
categoric_df.vehicle_size.unique()

array(['Medsize', 'Small', 'Large'], dtype=object)

In [23]:
cov_df=categoric_df["coverage"].map({'Basic': 1, 'Extended': 2, 'Premium': 3})
cov_df

0        1
1        1
2        1
3        2
4        3
        ..
10905    3
10906    1
10907    2
10908    3
10909    1
Name: coverage, Length: 10910, dtype: int64

In [24]:
edu_df= categoric_df["education"].map({'High School or Below': 1 ,'College': 2, 'Bachelor': 3, 'Master': 4 , 'Doctor': 5 })
edu_df

0        2
1        2
2        3
3        2
4        3
        ..
10905    3
10906    2
10907    3
10908    2
10909    3
Name: education, Length: 10910, dtype: int64

In [25]:
vsize_df= categoric_df["vehicle_size"].map({'Small': 1, 'Medsize': 2, 'Large': 3})
vsize_df

0        2
1        2
2        2
3        2
4        2
        ..
10905    2
10906    2
10907    2
10908    2
10909    2
Name: vehicle_size, Length: 10910, dtype: int64

In [26]:
categorical_nominals_df = pd.get_dummies(categoric_df[[
    'state',
       'employmentstatus', 'gender', 'location_code',
       'marital_status', 'policy_type', 'policy', 'renew_offer_type',
       'sales_channel', 'vehicle_class', 'vehicle_type']], dtype= int)

categorical_nominals_df

,state_Arizona,state_California,state_Nevada,state_Oregon,state_Washington,employmentstatus_Disabled,employmentstatus_Employed,employmentstatus_Medical Leave,employmentstatus_Retired,employmentstatus_Unemployed,...,sales_channel_Branch,sales_channel_Call Center,sales_channel_Web,vehicle_class_Four-Door Car,vehicle_class_Luxury Car,vehicle_class_Luxury SUV,vehicle_class_SUV,vehicle_class_Sports Car,vehicle_class_Two-Door Car,vehicle_type_A
0,1,0,0,0,0,0,1,0,0,0,...,0,0,0,1,0,0,0,0,0,1
1,0,1,0,0,0,0,0,0,0,1,...,0,1,0,1,0,0,0,0,0,1
2,0,0,0,0,1,0,1,0,0,0,...,0,1,0,0,0,0,1,0,0,1
3,0,0,0,1,0,0,1,0,0,0,...,1,0,0,1,0,0,0,0,0,1
4,0,0,0,1,0,0,0,1,0,0,...,1,0,0,1,0,0,0,0,0,1
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
10905,0,0,1,0,0,0,0,0,0,1,...,0,0,1,0,1,0,0,0,0,1
10906,0,0,0,1,0,0,1,0,0,0,...,1,0,0,1,0,0,0,0,0,1
10907,1,0,0,0,0,0,1,0,0,0,...,0,0,1,0,0,1,0,0,0,1
10908,0,1,0,0,0,0,1,0,0,0,...,1,0,0,0,0,0,1,0,0,1
10909,0,1,0,0,0,0,0,0,0,1,...,0,0,1,0,0,0,1,0,0,1

In [27]:
categorical_nominals_df.isnull().sum()

state_Arizona                     0
state_California                  0
state_Nevada                      0
state_Oregon                      0
state_Washington                  0
employmentstatus_Disabled         0
employmentstatus_Employed         0
employmentstatus_Medical Leave    0
employmentstatus_Retired          0
employmentstatus_Unemployed       0
gender_F                          0
gender_M                          0
location_code_Rural               0
location_code_Suburban            0
location_code_Urban               0
marital_status_Divorced           0
marital_status_Married            0
marital_status_Single             0
policy_type_Corporate Auto        0
policy_type_Personal Auto         0
policy_type_Special Auto          0
policy_Corporate L1               0
policy_Corporate L2               0
policy_Corporate L3               0
policy_Personal L1                0
policy_Personal L2                0
policy_Personal L3                0
policy_Special L1                 0
policy_Special L2                 0
policy_Special L3                 0
renew_offer_type_Offer1           0
renew_offer_type_Offer2           0
renew_offer_type_Offer3           0
renew_offer_type_Offer4           0
sales_channel_Agent               0
sales_channel_Branch              0
sales_channel_Call Center         0
sales_channel_Web                 0
vehicle_class_Four-Door Car       0
vehicle_class_Luxury Car          0
vehicle_class_Luxury SUV          0
vehicle_class_SUV                 0
vehicle_class_Sports Car          0
vehicle_class_Two-Door Car        0
vehicle_type_A                    0
dtype: int64

In [ ]:
categorical_df_ttbomk= pd.concat([cov_df, edu_df, vsize_df, categorical_nominals_df], axis=1)

categorical_df_ttbomk

In [ ]:
complete_df = pd.concat([categorical_df_ttbomk, numeric_df],axis=1)

In [ ]:
complete_df.info()

In [ ]:
"""from sklearn.preprocessing import OrdinalEncoder# pass the order I want( Try this if I want)

# Create an instance of the OrdinalEncoder
encoder = OrdinalEncoder()

# Fit and transform the data
for column in ["coverage", "vehicle_size"]:
    categoric_df[column]= encoder.fit_transform(categoric_df[column])
    
print(categoric_df[column])"""

In [ ]:
import pandas as pd
import seaborn as sns

## X-y split

In [ ]:
X = complete_df.drop(columns=['total_claim_amount'])
y = complete_df[['total_claim_amount']]

## Train-test split

In [ ]:
from sklearn.model_selection import train_test_split

In [ ]:
X_train, X_test, y_train, y_test = train_test_split(X ,y, random_state=42)

In [ ]:
X_test #Why is this happening?

In [ ]:
y_test

## Standardize the data. PowerTransformer

In [ ]:
from sklearn.preprocessing import MinMaxScaler, StandardScaler, PowerTransformer

In [ ]:
pt = PowerTransformer()

In [ ]:
pt.fit(X_train) #Here I get confused
X_train= pt.transform(X_train)
X_train

In [ ]:
X_test = pt.transform (X_test)
X_test

In [ ]:
pt.fit(y_train)

In [ ]:
y_train = pt.transform(y_train)
y_train

In [ ]:
y_test= pt.transform(y_train)

In [ ]:
X_train= pd.DataFrame(X_train)
X_test= pd.DataFrame(X_test)
y_test= pd.DataFrame(y_test)
y_train= pd.DataFrame(y_train)

In [ ]:
y_test.shape

## Applying linear regression

In [ ]:
from sklearn.linear_model import LinearRegression

In [ ]:
lm = LinearRegression()
model = lm.fit(X_train, y_train)

In [ ]:
model.coef_

In [ ]:
model.intercept_

## Predict the total_claim_amount

In [ ]:
random_customer = X_test.sample()

In [ ]:
y_test.shape

In [ ]:
random_customer

In [ ]:
model.predict(random_customer)

In [ ]:
#Inverse transform
pt.inverse_transform(model.predict(random_customer))

## Create predictions for the test set

In [ ]:
y_pred = model.predict(X_test)

In [ ]:
y_pred= pd.DataFrame(y_pred) #SOMETHING IS HAPPENING

In [ ]:
#Why?
y_test = y_test.reset_index(drop = True)

In [ ]:
y_test.shape

In [ ]:
residuals_df = pd.concat([y_test, y_pred], axis=1)
residuals_df.columns = ["y_test", "y_pred"]
residuals_df

In [ ]:
residuals_df["residual"] = residuals_df["y_test"]- residuals_df["y_pred"]

In [ ]:
residuals_df.head()

In [ ]:
y_pred.shape

In [ ]:
y_test.shape

In [ ]:
#residuals_df= residuals_df.rename(columns= {"total_claim_amount": "y_test", 0: "y_pred"})

In [ ]:
residuals_df

In [ ]:
residuals_df.head()

## Calculating metrics

In [ ]:
mean_error = residuals_df["residual"].mean()
mean_error

In [ ]:
from sklearn.metrics import mean_squared_error as mse, mean_absolute_error as mae

In [ ]:
mse(y_test, y_pred)

In [ ]:
mae(y_test, y_pred)

In [ ]:
rmse= mse( y_test, y_pred, squared = False)
rmse

## Computing R2_score for train_set

In [ ]:
from sklearn.metrics import r2_score

In [ ]:
r2_score(y_test, y_pred)

## Computing R2_score for train_set

In [ ]:
y_pred_train = pd.DataFrame(model.predict(X_train))

In [ ]:
round(r2_score(y_train, y_pred_train),2)

## Feature importance plot

In [ ]:
feature_names = list(X_train.columns)

In [ ]:
coefficients = model.coef_

In [ ]:
coefficients = [i for i in coefficients[0]]

In [ ]:
fi = {"name": feature_names, "coeff": coefficients}
fi_df = pd.DataFrame(fi)

fi_df

In [ ]:

import seaborn as sns
import matplotlib.pyplot as plt

fi_df = fi_df.sort_values(by='coeff', ascending=False)
plt.figure(figsize=(10,12))

sns.barplot(y= fi_df['name'], x = fi_df['coeff'])

In [ ]:
import pandas as pd
path_airbnb = "/Users/miriamg/Documents/Mid-Term-Project_ML_Ironhack/Mid-term project/airbnb_DF.csv"
mx_airbnb = pd.read_csv(path_airbnb)

mx_airbnb.columns #The most important columns are 'neighbourhood_group','neighbourhood',  'room_type', 'price',
       #'minimum_nights','number_of_reviews','calculated_host_listings_count'

    
unique_values = mx_airbnb.nunique()
print("Number of unique values in each column:")
print(unique_values) #calculated_host_listings count means the amount of ads that the host has on the platform, or professionalism



#for column in mx_airbnb.columns:
    #unique_values = mx_airbnb[column].unique()
    #print(f"Unique values in {column}: {unique_values}")
    
mx_airbnb = mx_airbnb[['neighbourhood','room_type', 'price',
       'minimum_nights', 'number_of_reviews','calculated_host_listings_count',
       'availability_365']]

mx_airbnb

In [ ]:
#Checking how clean the data is:

def data_frame_overview(data_frame):
    print(f'Column names: \n {data_frame.columns}\n')
    print(f'Dimensions: {data_frame.shape}\n')
    print(data_frame.info())
    print(f'nan values: \n {data_frame.isna().sum()}\n')
    print(f'nan values: \n {data_frame.isnull().sum()}\n')
    return data_frame.head(50)

def null_check(data_frame):
    print(f'Total null values per row: \n{data_frame.isnull().sum(axis=1)}\n')
    print(f'Total null values per column: \n{data_frame.isnull().sum()}\n')
    
def dropna_rows_cols(data_frame, row_thresh, col_thresh):
    '''
    removes rows and columns with null values

    parameters:
    data_frame: data_frame from which to remove rows and columns
    row_thresh: minimum threshold for the number of non-null values that a row must have in order to be kept
    col_thresh: minimum threshold for the number of non-null values that a column must have in order to be kept

    returns:
    data frame in which the rows and columns containing null values have been removed
    '''
    rows_before = len(data_frame)
    cols_before = len(data_frame.columns)
    data_frame.dropna(thresh = row_thresh, inplace = True)
    data_frame.dropna(axis=1, thresh = col_thresh, inplace = True)
    rows_after = len(data_frame)
    cols_after = len(data_frame.columns)
    rows_deleted = rows_before - rows_after
    cols_deleted = cols_before - cols_after
    print(f'Deleted {rows_deleted} rows')
    print(f'Deleted {cols_deleted} columns')

    return data_frame
    
data_frame_overview(mx_airbnb) #drop host_name and id, could be interesting to analyze if some hosts, of make inferences on the location with tatitude longitude, but maybe for other project
null_check(mx_airbnb)

In [ ]:
mx_airbnb
# Assuming the hosts want to rent the whole year we consider days rented= 365-(availability_365)
# Assuming all the host have been there at least for a year

In [ ]:
#Adding column of days rented

mx_airbnb['days_rented'] = [365 - a for a in mx_airbnb['availability_365']]
mx_airbnb

In [ ]:
#Adding column of revenue which is our target variable

mx_airbnb['yearly_income'] = mx_airbnb['days_rented']* mx_airbnb['price']
mx_airbnb.drop(columns=['availability_365', 'yearly_earnings'])
mx_airbnb