# Lab | Pandas

In this lab, we will be working with the customer data from an insurance company, which can be found in the CSV file located at the following link: https://raw.githubusercontent.com/data-bootcamp-v4/data/main/file1.csv

The data includes information such as customer ID, state, gender, education, income, and other variables that can be used to perform various analyses.

Throughout the lab, we will be using the pandas library in Python to manipulate and analyze the data. Pandas is a powerful library that provides various data manipulation and analysis tools, including the ability to load and manipulate data from a variety of sources, including CSV files.

### Data Description

- Customer - Customer ID

- ST - State where customers live

- Gender - Gender of the customer

- Education - Background education of customers 

- Customer Lifetime Value - Customer lifetime value(CLV) is the total revenue the client will derive from their entire relationship with a customer. In other words, is the predicted or calculated value of a customer over their entire duration as a policyholder with the insurance company. It is an estimation of the net profit that the insurance company expects to generate from a customer throughout their relationship with the company. Customer Lifetime Value takes into account factors such as the duration of the customer's policy, premium payments, claim history, renewal likelihood, and potential additional services or products the customer may purchase. It helps insurers assess the long-term profitability and value associated with retaining a particular customer.

- Income - Customers income

- Monthly Premium Auto - Amount of money the customer pays on a monthly basis as a premium for their auto insurance coverage. It represents the recurring cost that the insured person must pay to maintain their insurance policy and receive coverage for potential damages, accidents, or other covered events related to their vehicle.

- Number of Open Complaints - Number of complaints the customer opened

- Policy Type - There are three type of policies in car insurance (Corporate Auto, Personal Auto, and Special Auto)

- Vehicle Class - Type of vehicle classes that customers have Two-Door Car, Four-Door Car SUV, Luxury SUV, Sports Car, and Luxury Car

- Total Claim Amount - the sum of all claims made by the customer. It represents the total monetary value of all approved claims for incidents such as accidents, theft, vandalism, or other covered events.

External Resources: https://towardsdatascience.com/filtering-data-frames-in-pandas-b570b1f834b9

## Challenge 1: Understanding the data

In this challenge, you will use pandas to explore a given dataset. Your task is to gain a deep understanding of the data by analyzing its characteristics, dimensions, and statistical properties.

- Identify the dimensions of the dataset by determining the number of rows and columns it contains.
- Determine the data types of each column and evaluate whether they are appropriate for the nature of the variable. You should also provide suggestions for fixing any incorrect data types.
- Identify the number of unique values for each column and determine which columns appear to be categorical. You should also describe the unique values of each categorical column and the range of values for numerical columns, and give your insights.
- Compute summary statistics such as mean, median, mode, standard deviation, and quartiles to understand the central tendency and distribution of the data for numerical columns. You should also provide your conclusions based on these summary statistics.
- Compute summary statistics for categorical columns and providing your conclusions based on these statistics.

1.Identify the dimensions of the dataset by determining the number of rows and columns it contains.

In [4]:
# Your code here
import pandas as pd

url = 'https://raw.githubusercontent.com/data-bootcamp-v4/data/main/file1.csv'
dataset_df = pd.read_csv(url)
dataset_df.shape

(4008, 11)

2. Determine the data types of each column and evaluate whether they are appropriate for the nature of the variable. You should also provide suggestions for fixing any incorrect data types.

In [6]:
# Customer Lifetime Value & Number of Open Complaints should be either int or float

dataset_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 4008 entries, 0 to 4007
Data columns (total 11 columns):
 #   Column                     Non-Null Count  Dtype
---  ------                     --------------  -----
 0   Customer                   1071 non-null   object
 1   ST                         1071 non-null   object
 2   GENDER                     954 non-null    object
 3   Education                  1071 non-null   object
 4   Customer Lifetime Value    1068 non-null   object
 5   Income                     1071 non-null   float64
 6   Monthly Premium Auto       1071 non-null   float64
 7   Number of Open Complaints  1071 non-null   object
 8   Policy Type                1071 non-null   object
 9   Vehicle Class              1071 non-null   object
 10  Total Claim Amount         1071 non-null   float64
dtypes: float64(3), object(8)
memory usage: 344.6+ KB

In [15]:
dataset_df.dtypes

Customer                      object
ST                            object
GENDER                        object
Education                     object
Customer Lifetime Value       object
Income                       float64
Monthly Premium Auto         float64
Number of Open Complaints     object
Policy Type                   object
Vehicle Class                 object
Total Claim Amount           float64
dtype: object

3. Identify the number of unique values for each column and determine which columns appear to be categorical. You should also describe the unique values of each categorical column and the range of values for numerical columns, and give your insights.

In [13]:
"""ST, GENDER, Education, Number of Open Complaints Policy Type 

and Vehicle Class should be categorical"""


#List of categorical values and iterate
print(dataset_df.nunique())
print(dataset_df.ST.unique())
print(dataset_df.GENDER.unique())
print(dataset_df.Education.unique())
print(dataset_df["Number of Open Complaints"].unique())
print(dataset_df["Policy Type"].unique())
print(dataset_df["Vehicle Class"].unique())

Customer                     1071
ST                              8
GENDER                          5
Education                       6
Customer Lifetime Value      1027
Income                        774
Monthly Premium Auto          132
Number of Open Complaints       6
Policy Type                     3
Vehicle Class                   6
Total Claim Amount            761
dtype: int64
['Washington' 'Arizona' 'Nevada' 'California' 'Oregon' 'Cali' 'AZ' 'WA'
 nan]
[nan 'F' 'M' 'Femal' 'Male' 'female']
['Master' 'Bachelor' 'High School or Below' 'College' 'Bachelors' 'Doctor'
 nan]
['1/0/00' '1/2/00' '1/1/00' '1/3/00' '1/5/00' '1/4/00' nan]
['Personal Auto' 'Corporate Auto' 'Special Auto' nan]
['Four-Door Car' 'Two-Door Car' 'SUV' 'Luxury SUV' 'Sports Car'
 'Luxury Car' nan]

In [16]:
print(dataset_df["Policy Type"].unique())
print(dataset_df["Vehicle Class"].unique())

['Personal Auto' 'Corporate Auto' 'Special Auto' nan]
['Four-Door Car' 'Two-Door Car' 'SUV' 'Luxury SUV' 'Sports Car'
 'Luxury Car' nan]

In [14]:
 # Can I use it for the range? and how can I get mode?
dataset_df.describe()

             Income  Monthly Premium Auto  Total Claim Amount
count   1071.000000           1071.000000         1071.000000
mean   39295.701214            193.234360          404.986909
std    30469.427060           1601.190369          293.027260
min        0.000000             61.000000            0.382107
25%    14072.000000             68.000000          202.157702
50%    36234.000000             83.000000          354.729129
75%    64631.000000            109.500000          532.800000
max    99960.000000          35354.000000         2893.239678

In [24]:
#Also iterate
range_income = dataset_df["Income"].max() - dataset_df["Income"].min()
print(range_income)

99960.0

4. Compute summary statistics such as mean, median, mode, standard deviation, and quartiles to understand the central tendency and distribution of the data for numerical columns. You should also provide your conclusions based on these summary statistics.

In [27]:
'''How to iterate only the numerical values?, for loop'''

print(dataset_df["Income"].mean())
print(dataset_df["Income"].mode())
print(dataset_df["Income"].std())
print(dataset_df["Income"].quantile([0.25, 0.5, 0.75]))

39295.70121381886
0    0.0
dtype: float64
30469.42706040185
0.25    14072.0
0.50    36234.0
0.75    64631.0
Name: Income, dtype: float64

In [28]:
print(dataset_df["Income"].mode())

0    0.0
dtype: float64

In [25]:

print(dataset_df["Monthly Premium Auto"].mean())
print(dataset_df["Monthly Premium Auto"].mode())
print(dataset_df["Monthly Premium Auto"].std())
print(dataset_df["Monthly Premium Auto"].quantile([0.25, 0.5, 0.75]))

193.234360410831
0    65.0
dtype: float64
1601.190368577621
0.25     68.0
0.50     83.0
0.75    109.5
Name: Monthly Premium Auto, dtype: float64

In [26]:
print(dataset_df["Total Claim Amount"].mean())
print(dataset_df["Total Claim Amount"].mode())
print(dataset_df["Total Claim Amount"].std())
print(dataset_df["Total Claim Amount"].quantile([0.25, 0.5, 0.75]))

404.9869094089639
0    321.6
dtype: float64
293.0272599264041
0.25    202.157702
0.50    354.729129
0.75    532.800000
Name: Total Claim Amount, dtype: float64

5. Compute summary statistics for categorical columns and providing your conclusions based on these statistics.

In [47]:
"""How to do this? """

gender_frequencies = dataset_df["GENDER"].value_counts()

gender_frequencies

#print(dataset_df["Vehicle Class"].mean())

F         457
M         413
Male       39
female     28
Femal      17
Name: GENDER, dtype: int64

## Challenge 2: analyzing the data

### Exercise 1

The marketing team wants to know the top 5 less common customer locations. Create a pandas Series object that contains the customer locations and their frequencies, and then retrieve the top 5 less common locations in ascending order.

In [35]:
'''Is there a real difference btween using only the values of DF and Series?'''
location_frequencies = dataset_df["ST"].value_counts()
location_frequencies

Oregon        320
California    211
Arizona       186
Cali          120
Nevada         98
Washington     81
WA             30
AZ             25
Name: ST, dtype: int64

In [36]:
# Your code here
#first extract the values of locations
customer_locations_series = pd.Series(location_frequencies, name = "location_frequencies")

customer_locations_series

Oregon        320
California    211
Arizona       186
Cali          120
Nevada         98
Washington     81
WA             30
AZ             25
Name: location_frequencies, dtype: int64

In [38]:
#The ascending order is by default, How to do it descending?
top_5_less_common = location_frequencies.nsmallest(5)
top_5_less_common

AZ             25
WA             30
Washington     81
Nevada         98
Cali          120
Name: ST, dtype: int64

In [48]:
type(sorted(top_5_less_common))

list

In [39]:
top_v2= customer_locations_series.nsmallest(5)
top_v2

AZ             25
WA             30
Washington     81
Nevada         98
Cali          120
Name: location_frequencies, dtype: int64

### Exercise 2

The sales team wants to know the total number of policies sold for each type of policy. Create a pandas Series object that contains the policy types and their total number of policies sold, and then retrieve the policy type with the highest number of policies sold.

*Hint:*
- *Using value_counts() method simplifies this analysis.*
- *Futhermore, there is a method that returns the index of the maximum value in a column or row.*

In [41]:
# Your code here
policies_sold_frequencies = dataset_df["Policy Type"].value_counts()
policies_sold_frequencies

Personal Auto     780
Corporate Auto    234
Special Auto       57
Name: Policy Type, dtype: int64

In [43]:
policies_sold_series = pd.Series(policies_sold_frequencies, name = "Policy Type")
policies_sold_series

Personal Auto     780
Corporate Auto    234
Special Auto       57
Name: Policy Type, dtype: int64

In [44]:
"But how to know which policy is?"
max(policies_sold_series)

780

In [84]:
most_sold_policty_type_v= policies_sold_series.max()

most_sold_policty_type_id=policies_sold_series.idxmax()

print(most_sold_policty_type_id, most_sold_policty_type_v)

Personal Auto 780

### Exercise 3

The sales team wants to know if customers with Personal Auto have a lower income than those with Corporate Auto. How does the average income compare between the two policy types?

- Use *loc* to create two dataframes: one containing only Personal Auto policies and one containing only Corporate Auto policies.
- Calculate the average income for each policy.
- Print the results.

In [85]:
dataset_df.head()

,Customer,ST,GENDER,Education,Customer Lifetime Value,Income,Monthly Premium Auto,Number of Open Complaints,Policy Type,Vehicle Class,Total Claim Amount
0,RB50392,Washington,NaN,Master,NaN,0.0,1000.0,1/0/00,Personal Auto,Four-Door Car,2.704934
1,QZ44356,Arizona,F,Bachelor,697953.59%,0.0,94.0,1/0/00,Personal Auto,Four-Door Car,1131.464935
2,AI49188,Nevada,F,Bachelor,1288743.17%,48767.0,108.0,1/0/00,Personal Auto,Two-Door Car,566.472247
3,WW63253,California,M,Bachelor,764586.18%,0.0,106.0,1/0/00,Corporate Auto,SUV,529.881344
4,GA49547,Washington,M,High School or Below,536307.65%,36357.0,68.0,1/0/00,Personal Auto,Four-Door Car,17.269323

In [86]:
personal_auto_df = dataset_df.loc[dataset_df["Policy Type"] == "Personal Auto"]
personal_auto_df

,Customer,ST,GENDER,Education,Customer Lifetime Value,Income,Monthly Premium Auto,Number of Open Complaints,Policy Type,Vehicle Class,Total Claim Amount
0,RB50392,Washington,NaN,Master,NaN,0.0,1000.0,1/0/00,Personal Auto,Four-Door Car,2.704934
1,QZ44356,Arizona,F,Bachelor,697953.59%,0.0,94.0,1/0/00,Personal Auto,Four-Door Car,1131.464935
2,AI49188,Nevada,F,Bachelor,1288743.17%,48767.0,108.0,1/0/00,Personal Auto,Two-Door Car,566.472247
4,GA49547,Washington,M,High School or Below,536307.65%,36357.0,68.0,1/0/00,Personal Auto,Four-Door Car,17.269323
5,OC83172,Oregon,F,Bachelor,825629.78%,62902.0,69.0,1/0/00,Personal Auto,Two-Door Car,159.383042
...,...,...,...,...,...,...,...,...,...,...,...
1065,XD85577,Cali,M,Bachelor,284226.69%,69417.0,73.0,1/1/00,Personal Auto,Four-Door Car,30.874869
1066,TM65736,Oregon,M,Master,305955.03%,38644.0,78.0,1/1/00,Personal Auto,Four-Door Car,361.455219
1067,VJ51327,Cali,F,High School or Below,2031499.76%,63209.0,102.0,1/2/00,Personal Auto,SUV,207.320041
1068,GS98873,Arizona,F,Bachelor,323912.47%,16061.0,88.0,1/0/00,Personal Auto,Four-Door Car,633.600000
1070,MY31220,California,F,College,899704.02%,54230.0,112.0,1/0/00,Personal Auto,Two-Door Car,537.600000

In [87]:
corporate_auto_df = dataset_df.loc[dataset_df["Policy Type"] == "Corporate Auto"]
corporate_auto_df

,Customer,ST,GENDER,Education,Customer Lifetime Value,Income,Monthly Premium Auto,Number of Open Complaints,Policy Type,Vehicle Class,Total Claim Amount
3,WW63253,California,M,Bachelor,764586.18%,0.0,106.0,1/0/00,Corporate Auto,SUV,529.881344
6,XZ87318,Oregon,F,College,538089.86%,55350.0,67.0,1/0/00,Corporate Auto,Four-Door Car,321.600000
7,CF85061,Arizona,M,Master,721610.03%,0.0,101.0,1/0/00,Corporate Auto,Four-Door Car,363.029680
8,DY87989,Oregon,M,Bachelor,2412750.40%,14072.0,71.0,1/0/00,Corporate Auto,Four-Door Car,511.200000
12,DP39365,California,NaN,Master,879879.70%,77026.0,110.0,1/2/00,Corporate Auto,Four-Door Car,472.029737
...,...,...,...,...,...,...,...,...,...,...,...
1045,WZ31900,Oregon,F,Bachelor,864970.06%,94389.0,107.0,1/0/00,Corporate Auto,SUV,85.063708
1050,BJ53923,Arizona,M,High School or Below,260027.21%,51978.0,66.0,1/0/00,Corporate Auto,Four-Door Car,144.782152
1052,FB23788,Oregon,M,High School or Below,882883.50%,86721.0,111.0,1/0/00,Corporate Auto,SUV,532.800000
1056,PI47776,Oregon,F,Bachelor,253070.51%,89451.0,63.0,1/0/00,Corporate Auto,Four-Door Car,61.769564
1059,YG44474,Oregon,M,College,1401472.13%,54193.0,117.0,1/0/00,Corporate Auto,SUV,720.752945

In [64]:
# Your code here"""NOT NEEDED"""

policy_type_df= pd.DataFrame(dataset_df["Policy Type"])

policy_type_df

         Policy Type
0      Personal Auto
1      Personal Auto
2      Personal Auto
3     Corporate Auto
4      Personal Auto
...              ...
4003             NaN
4004             NaN
4005             NaN
4006             NaN
4007             NaN

[4008 rows x 1 columns]

In [71]:
df_personal_auto= policy_type_df.loc[policy_type_df["Policy Type"] == "Personal Auto"]
df_personal_auto

        Policy Type
0     Personal Auto
1     Personal Auto
2     Personal Auto
4     Personal Auto
5     Personal Auto
...             ...
1065  Personal Auto
1066  Personal Auto
1067  Personal Auto
1068  Personal Auto
1070  Personal Auto

[780 rows x 1 columns]

In [72]:
df_corporate_auto = policy_type_df.loc[policy_type_df["Policy Type"] == "Corporate Auto"]
df_corporate_auto

         Policy Type
3     Corporate Auto
6     Corporate Auto
7     Corporate Auto
8     Corporate Auto
12    Corporate Auto
...              ...
1045  Corporate Auto
1050  Corporate Auto
1052  Corporate Auto
1056  Corporate Auto
1059  Corporate Auto

[234 rows x 1 columns]

In [94]:
import statistics as stats

avg_PA= stats.mean(personal_auto_df["Income"])
print("The average income of customers with personal auto is: "+ str(avg_PA))
avg_CO= stats.mean(corporate_auto_df["Income"])
print("The average income of customers with personal auto is: "+ str(avg_CO))

The average income of customers with personal auto is: 38180.69871794872
The average income of customers with personal auto is: 41390.31196581197

### Bonus: Exercise 4

Your goal is to identify customers with a high policy claim amount.

Instructions:

- Review again the statistics for total claim amount to gain an understanding of the data.
- To identify potential areas for improving customer retention and profitability, we want to focus on customers with a high policy claim amount. Consider customers with a high policy claim amount to be those in the top 25% of the total claim amount. Create a pandas DataFrame object that contains information about customers with a policy claim amount greater than the 75th percentile.
- Use DataFrame methods to calculate summary statistics about the high policy claim amount data.

*Note: When analyzing data, we often want to focus on certain groups of values to gain insights. Percentiles are a useful tool to help us define these groups. A percentile is a measure that tells us what percentage of values in a dataset are below a certain value. For example, the 75th percentile represents the value below which 75% of the data falls. Similarly, the 25th percentile represents the value below which 25% of the data falls. When we talk about the top 25%, we are referring to the values that fall above the 75th percentile, which represent the top quarter of the data. On the other hand, when we talk about the bottom 25%, we are referring to the values that fall below the 25th percentile, which represent the bottom quarter of the data. By focusing on these groups, we can identify patterns and trends that may be useful for making decisions and taking action.*

*Hint: look for a method that gives you the percentile or quantile 0.75 and 0.25 for a Pandas Series.*

*Hint 2: check `Boolean selection according to the values of a single column` in https://towardsdatascience.com/filtering-data-frames-in-pandas-b570b1f834b9*

In [ ]:
# Your code here